In [1]:
import numpy as np
import pandas as pd

# set some print options
np.set_printoptions(precision=4)
np.set_printoptions(threshold=5)
np.set_printoptions(suppress=True)
pd.set_option('precision', 3, 'notebook_repr_html', True, )

# init random gen
np.random.seed(2)

In [2]:
users = pd.read_table('data/ml-1m/users.dat',
                      sep='::', header=None,
                      engine='python',
                      names=['user_id', 'gender', 'age', 'occupation', 'zip'])

movies = pd.read_table('data/ml-1m/movies.dat',
                       sep='::', header=None,
                       engine='python',
                       names=['movie_id', 'title', 'genres'])

ratings = pd.read_table('data/ml-1m/ratings.dat',
                        sep='::', header=None,
                        engine='python',
                        names=['user_id', 'movie_id', 'rating', 'timestamp'])

In [3]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     6040 non-null   int64
 1   gender      6040 non-null   object
 2   age         6040 non-null   int64
 3   occupation  6040 non-null   int64
 4   zip         6040 non-null   object
dtypes: int64(3), object(2)
memory usage: 236.1+ KB

In [4]:
users.head()

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  3883 non-null   int64
 1   title     3883 non-null   object
 2   genres    3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [6]:
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [7]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1000209 non-null  int64
 1   movie_id   1000209 non-null  int64
 2   rating     1000209 non-null  int64
 3   timestamp  1000209 non-null  int64
dtypes: int64(4)
memory usage: 30.5 MB

In [8]:
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

## Merge all three data sets. 
First on user_id, then on movie_id.

In [3]:
movielens = pd.merge(pd.merge(ratings,users),movies)

In [10]:
movielens.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000209 entries, 0 to 1000208
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   user_id     1000209 non-null  int64
 1   movie_id    1000209 non-null  int64
 2   rating      1000209 non-null  int64
 3   timestamp   1000209 non-null  int64
 4   gender      1000209 non-null  object
 5   age         1000209 non-null  int64
 6   occupation  1000209 non-null  int64
 7   zip         1000209 non-null  object
 8   title       1000209 non-null  object
 9   genres      1000209 non-null  object
dtypes: int64(6), object(4)
memory usage: 83.9+ MB

In [10]:
movielens.describe()

         user_id   movie_id     rating  timestamp        age  occupation
count  1.000e+06  1.000e+06  1.000e+06  1.000e+06  1.000e+06   1.000e+06
mean   3.025e+03  1.866e+03  3.582e+00  9.722e+08  2.974e+01   8.036e+00
std    1.728e+03  1.096e+03  1.117e+00  1.215e+07  1.175e+01   6.531e+00
min    1.000e+00  1.000e+00  1.000e+00  9.567e+08  1.000e+00   0.000e+00
25%    1.506e+03  1.030e+03  3.000e+00  9.653e+08  2.500e+01   2.000e+00
50%    3.070e+03  1.835e+03  4.000e+00  9.730e+08  2.500e+01   7.000e+00
75%    4.476e+03  2.770e+03  4.000e+00  9.752e+08  3.500e+01   1.400e+01
max    6.040e+03  3.952e+03  5.000e+00  1.046e+09  5.600e+01   2.000e+01

In [11]:
movielens.sample(5)

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
758856,5567,2915,4,959349063,M,50,3,78704,Risky Business (1983),Comedy
345912,2050,1959,3,975522916,F,35,3,99504,Out of Africa (1985),Drama|Romance
586911,2841,1263,3,1022086809,M,50,12,98056,"Deer Hunter, The (1978)",Drama|War
424866,3578,1252,5,966711654,M,50,3,96714,Chinatown (1974),Film-Noir|Mystery|Thriller
538336,2995,2021,4,970683967,M,25,15,97333,Dune (1984),Fantasy|Sci-Fi

## Create a subset for speed reasons

In [4]:
movielens_sub = movielens.iloc[np.random.choice(movielens.index, size=10000, replace=False)]
print(movielens_sub.shape)
# Check the number of unique users and movies in the subset.
print(movielens_sub.user_id.nunique())
print(movielens_sub.movie_id.nunique())

(10000, 10)
3698
2275

Select users which have rated more than one movie.

In [5]:
# Boolean series indicating if a user_id has rated more than one movie.
user_ids_larger_1 = pd.value_counts(movielens_sub.user_id, sort=False) > 1
# Array of user_ids that have rated more than one movie.
user_ids_larger_1 = user_ids_larger_1[user_ids_larger_1].index

In [6]:
movielens_sub = movielens_sub.loc[movielens_sub.index.map(lambda x: movielens_sub.loc[x, 'user_id'] in user_ids_larger_1)]

In [7]:
movielens_sub.shape

(8442, 10)

In [8]:
# Double check that all users in the subset have more than one movie rating.
assert np.all(movielens_sub.user_id.value_counts() > 1)

## Generate Training and Test Sets

The test set will be comprised of 20% of each user's ratings.

In [9]:
def assign_to_set(df):
    """ 
        Assign 20% of a user's ratings to a test set.
        df.index returns a list of indices from a dataframe.
        Choose 20% of those indices without replacement.
        Set the column 'for_testing'=True for the 20% choosen.
    """
    sampled_ids = np.random.choice(df.index,
                                   size=np.int64(np.ceil(df.index.size * 0.2)),
                                   replace=False)
    df.loc[sampled_ids, 'for_testing'] = True
    return df

In [10]:
# Create new column and set as False for every row
movielens_sub.loc[:,'for_testing'] = False
# Group ratings by user_id and assign 20% of each user's ratings to the test set.
grouped = movielens_sub.groupby('user_id', group_keys=False).apply(assign_to_set)

df_train = movielens_sub[grouped.for_testing == False]
df_test = movielens_sub[grouped.for_testing == True]

print(movielens_sub.shape)
# Make sure the training and test sets are not empty.
print(df_train.shape)
print(df_test.shape)
assert len(df_train.index & df_test.index) == 0

(8442, 11)
(5801, 11)
(2641, 11)

In [11]:
# Save the training and test sets
df_train.to_csv('data/df_train.csv')
df_test.to_csv('data/df_test.csv')

## Load the MovieLens Subsample

In [2]:
df_train = pd.read_csv('data/df_train.csv', index_col=0)
df_test = pd.read_csv('data/df_test.csv', index_col=0)

In [3]:
df_train.sample(5)

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,for_testing
570002,3213,2883,1,968518282,F,25,1,83705,Mumford (1999),Comedy,False
603824,2315,1608,3,974479133,M,56,7,48114,Air Force One (1997),Action|Thriller,False
71519,1651,1210,3,1002181287,M,25,12,94520,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Romance|Sci-Fi|War,False
138823,2771,2359,3,973097213,M,18,1,92037,Waking Ned Devine (1998),Comedy,False
513372,3462,2003,4,967394093,F,25,4,73160,Gremlins (1984),Comedy|Horror,False

In [4]:
df_train.describe()

        user_id  movie_id    rating  timestamp       age  occupation
count  5801.000  5801.000  5801.000  5.801e+03  5801.000    5801.000
mean   3023.148  1873.502     3.527  9.724e+08    29.521       7.938
std    1721.933  1088.238     1.113  1.234e+07    11.289       6.621
min       8.000     1.000     1.000  9.567e+08     1.000       0.000
25%    1510.000  1047.000     3.000  9.653e+08    25.000       2.000
50%    3067.000  1904.000     4.000  9.730e+08    25.000       6.000
75%    4446.000  2791.000     4.000  9.753e+08    35.000      14.000
max    6040.000  3952.000     5.000  1.046e+09    56.000      20.000

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5801 entries, 758856 to 775932
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      5801 non-null   int64
 1   movie_id     5801 non-null   int64
 2   rating       5801 non-null   int64
 3   timestamp    5801 non-null   int64
 4   gender       5801 non-null   object
 5   age          5801 non-null   int64
 6   occupation   5801 non-null   int64
 7   zip          5801 non-null   object
 8   title        5801 non-null   object
 9   genres       5801 non-null   object
 10  for_testing  5801 non-null   bool
dtypes: bool(1), int64(6), object(4)
memory usage: 504.2+ KB

In [6]:
df_test.sample(5)

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,for_testing
330846,2306,597,5,974493350,F,18,4,02138,Pretty Woman (1990),Comedy|Romance,False
756612,3067,175,5,969999335,F,25,0,02148,Kids (1995),Drama,False
825706,5448,2932,3,960052606,M,45,19,60626,Days of Heaven (1978),Drama,False
324481,3087,2406,4,969682171,F,1,1,90802,Romancing the Stone (1984),Action|Adventure|Comedy|Romance,False
503143,3529,2863,3,966896486,F,45,1,97361,"Hard Day's Night, A (1964)",Comedy|Musical,False

In [7]:
df_test.describe()

        user_id  movie_id    rating  timestamp       age  occupation
count  2641.000  2641.000  2641.000  2.641e+03  2641.000    2641.000
mean   3015.204  1877.985     3.551  9.721e+08    29.490       7.981
std    1732.383  1094.477     1.127  1.198e+07    11.667       6.554
min       8.000     1.000     1.000  9.567e+08     1.000       0.000
25%    1484.000  1073.000     3.000  9.653e+08    25.000       2.000
50%    3054.000  1876.000     4.000  9.727e+08    25.000       7.000
75%    4458.000  2795.000     4.000  9.752e+08    35.000      14.000
max    6040.000  3949.000     5.000  1.046e+09    56.000      20.000

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2641 entries, 586911 to 284781
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      2641 non-null   int64
 1   movie_id     2641 non-null   int64
 2   rating       2641 non-null   int64
 3   timestamp    2641 non-null   int64
 4   gender       2641 non-null   object
 5   age          2641 non-null   int64
 6   occupation   2641 non-null   int64
 7   zip          2641 non-null   object
 8   title        2641 non-null   object
 9   genres       2641 non-null   object
 10  for_testing  2641 non-null   bool
dtypes: bool(1), int64(6), object(4)
memory usage: 229.5+ KB

## Evaluation: performance criterion

RMSE: $\sqrt{\frac{\sum(\hat y - y)^2}{n}}$

In [9]:
def compute_rmse(y_pred, y_true):
    """ Compute Root Mean Squared Error. """
    
    return np.sqrt(np.mean(np.power(y_pred - y_true, 2)))

## Evaluation: the 'evaluate' method

In [14]:
def evaluate(estimate_f):
    """ RMSE-based predictive performance evaluation with pandas. """
    
    ids_to_estimate = zip(df_test.user_id, df_test.movie_id)
    estimated = np.array([estimate_f(u,i) for (u,i) in ids_to_estimate])
    real = df_test.rating.values
    return compute_rmse(estimated, real)

In [11]:
def my_estimate_function(user_id, movie_id):
    return 3

In [15]:
print('RMSE for my estimate function: %s' % evaluate(my_estimate_function))

RMSE for my estimate function: 1.2541487380591316

On a scale of 1 to 5, let's take a rating of 3 to be a baseline and compute the RMSE based on that assumption. Now we'll have an idea if the following models are doing a "good" or "bad" job in predicting recommendations.

## Rec Engine v1.0: mean ratings

Content-based: Compute the mean of the user's ratings.

In [31]:
def content_mean(user_id, movie_id):
    """ Content-filtering based on mean ratings. """
    
    user_condition = df_train.user_id == user_id
    return df_train.loc[user_condition, 'rating'].mean()

print('RMSE for content1: %s' % evaluate(content_mean))

RMSE for content1: 1.2672486910330791

Collaborative-filtering: Compute the mean of all users that rated a movie.

In [32]:
def collab_mean(user_id, movie_id):
    user_condition = df_train.user_id != user_id
    movie_condition = df_train.movie_id == movie_id
    ratings_by_others = df_train.loc[user_condition & movie_condition]
    # Handling edge cases
    if ratings_by_others.empty:
        return 3.0
    else:
        return ratings_by_others.rating.mean()

    
# try it out for a user_id, movie_id pair
print(collab_mean(4653, 2648))
print('RMSE for collab1: %s' % evaluate(collab_mean))

3.0
RMSE for collab1: 1.1428217004703902