In [1]:
import numpy as np
import pandas as pd

# set some print options
np.set_printoptions(precision=4)
np.set_printoptions(threshold=5)
np.set_printoptions(suppress=True)
pd.set_option('precision', 3, 'notebook_repr_html', True, )

# init random gen
np.random.seed(2)

In [2]:
df_train = pd.read_csv('data/movielens_train.csv', index_col=0)
df_test = pd.read_csv('data/movielens_test.csv', index_col=0)

In [3]:
df_train.describe()

        user_id  movie_id    rating  timestamp       age  occupation
count  5838.000  5838.000  5838.000  5.838e+03  5838.000    5838.000
mean   3008.057  1855.881     3.546  9.729e+08    29.405       8.005
std    1707.233  1095.441     1.112  1.305e+07    11.386       6.546
min       5.000     1.000     1.000  9.567e+08     1.000       0.000
25%    1499.500  1015.000     3.000  9.654e+08    25.000       2.000
50%    3080.000  1862.000     4.000  9.732e+08    25.000       7.000
75%    4386.000  2750.000     4.000  9.754e+08    35.000      14.000
max    6037.000  3952.000     5.000  1.046e+09    56.000      20.000

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5838 entries, 593263 to 466639
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      5838 non-null   int64
 1   movie_id     5838 non-null   int64
 2   rating       5838 non-null   int64
 3   timestamp    5838 non-null   int64
 4   gender       5838 non-null   object
 5   age          5838 non-null   int64
 6   occupation   5838 non-null   int64
 7   zip          5838 non-null   object
 8   title        5838 non-null   object
 9   genres       5838 non-null   object
 10  for_testing  5838 non-null   bool
dtypes: bool(1), int64(6), object(4)
memory usage: 507.4+ KB

In [5]:
df_test.describe()

        user_id  movie_id    rating  timestamp       age  occupation
count  2668.000  2668.000  2668.000  2.668e+03  2668.000    2668.000
mean   3028.807  1848.816     3.579  9.722e+08    29.386       8.064
std    1730.813  1095.775     1.088  1.230e+07    11.721       6.533
min       5.000     1.000     1.000  9.567e+08     1.000       0.000
25%    1498.750  1021.500     3.000  9.653e+08    25.000       2.000
50%    3119.500  1778.000     4.000  9.726e+08    25.000       7.000
75%    4447.000  2763.250     4.000  9.752e+08    35.000      14.000
max    6037.000  3952.000     5.000  1.046e+09    56.000      20.000

In [6]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2668 entries, 693323 to 713194
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      2668 non-null   int64
 1   movie_id     2668 non-null   int64
 2   rating       2668 non-null   int64
 3   timestamp    2668 non-null   int64
 4   gender       2668 non-null   object
 5   age          2668 non-null   int64
 6   occupation   2668 non-null   int64
 7   zip          2668 non-null   object
 8   title        2668 non-null   object
 9   genres       2668 non-null   object
 10  for_testing  2668 non-null   bool
dtypes: bool(1), int64(6), object(4)
memory usage: 231.9+ KB